<!-- this will be viewed with ui-view, so ng-controller="GlobalController as vm" which is set on index page -->

<div layout="column" layout-padding layout-wrap layout-fill flex="50" ng-cloak>

<!-- LOGIN -->
   <md-whiteframe ng-show="nav.hasLogin" layout="column">
         <h1>
            Welcome back!
         </h1>
      <md-content layout-padding>
         <form name="loginForm" ng-submit="nav.loginUser()">
            <md-input-container>
               <label>User Name</label>
               <input required name="username" ng-model="nav.user.username">
            </md-input-container>
            <md-input-container>
               <label>Password</label>
               <input required type="password" name="userPassword" ng-model="nav.user.password" minlength="5" />
            </md-input-container>
            <div layout="right">
               <md-button type="submit" ng-disabled="!nav.user.username || !nav.user.password">Login</md-button>
               <md-button type="button" ng-click="nav.hasLogin = false">Register</md-button>
            </div>
         </form>
      </md-content>
   </md-whiteframe>

   <!-- REGISTER -->
   <md-whiteframe ng-show="!nav.hasLogin" class="md-whiteframe-1dp" flex="25" layout="column" layout layout-align="center center">
         <h1>
            Please sign up.
         </h1>
      <md-content layout-padding>
         <form name="loginForm" ng-submit="nav.registerUser()">
            <md-input-container>
               <label>User Name</label>
               <input required name="username" ng-model="nav.user.username">
            </md-input-container><br/>
            <md-input-container>
               <label>Email Address</label>
               <input required type="email" name="username" ng-model="nav.user.email">
            </md-input-container><br/>
            <md-input-container>
               <label>Password</label>
               <input required type="password" name="userPassword" ng-model="nav.user.password" minlength="5" />
            </md-input-container><br/>
            <md-input-container>
               <label>Confirm Password</label>
               <input required type="password" name="userPassword" ng-model="nav.user.confirmPassword" minlength="5" />
            </md-input-container><br/>
            <div layout="right">
               <md-button type="submit" ng-disabled="!nav.user.username || !nav.user.email || !nav.user.password || !(nav.user.password === nav.user.confirmPassword)">Register</md-button>
               <md-button type="button" ng-click="nav.hasLogin = true">Login</md-button>

            </div>
         </form>
      </md-content>
   </md-whiteframe>
</div>



</div>
