<!-- this will be viewed with ui-view, so ng-controller="GlobalController as vm" which is set on index page -->

<div layout="column" layout-padding layout-wrap layout-fill layout-align="start center" flex="100" ng-cloak>
<div  flex="80" >
         <h1>
            Welcome back!
         </h1>
      <md-content layout-padding>
         <form name="loginForm" ng-submit="nav.loginUser()">
            <md-input-container>
               <label>User Name</label>
               <input required name="username" ng-model="nav.user.username">
            </md-input-container>
            <md-input-container>
               <label>Password</label>
               <input required type="password" name="userPassword" ng-model="nav.user.password" minlength="5" />
            </md-input-container>
            <div layout="column">
               <div>
                  {{nav.err}}
               <md-button type="submit" ng-disabled="!nav.user.username || !nav.user.password">Login</md-button>
            </div>
            <div>
               <hr>
               <h6>Haven't joined our community yet?</h6>
               <md-button type="button" ui-sref="Register">Sign Up</md-button>
            </div>
            </div>
         </form>
      </md-content>
</div>
</div>
