<div ng-controller='ProfileController as vm'>
<div layout='column' layout-padding layout-wrap layout-fill layout-align="start center" flex="100" ng-cloak>
   <div>
      <h1>{{nav.status.username | uppercase}}'S PROFILE</h1>
   </div>
  <div layout='row' flex>
    <div flex="35">
      <!-- <img src='{{nav.status.profilePic}}' class="img-responsive"/> -->
      <img src='http://www.foodnavigator-usa.com/var/plain_site/storage/images/publications/food-beverage-nutrition/foodnavigator-usa.com/markets/us-organic-food-market-to-grow-14-from-2013-18/8668340-1-eng-GB/US-organic-food-market-to-grow-14-from-2013-18.jpg' class="img-responsive"/>
      <button type="button" ng-show='!vm.updatePic' class="btn btn-success" ng-click="vm.updatePic = true">Update Profile Picture</button>
      <form ng-show="vm.updatePic" ng-submit='vm.updateProfilePic()'>
        <input ng-model="vm.urlObj" placeholder='Paste url here'>{{nav.status.profilePic}}</input>
        <button type="submit" class="btn btn-info" ng-click='vm.updatePic = false'>Submit Changes</button>
      </form>
    </div>
    <div flex="65" layout-padding="10">
      <p>{{nav.status.bio}}</p>
      <button class="btn btn-danger" ng-show='!vm.editing' ng-click='vm.editing = true'>Edit Bio</button>
      <br>
      <form ng-show='vm.editing' ng-submit='vm.updateBio()'>
        <textarea ng-model='vm.bioObj' placeholder="Tell us about yourself!">{{nav.status.bio}}</textarea>
        <button class="btn btn-info" type='submit' ng-click='vm.editing = false'>Submit Changes</button>
      </form><br>
      <span>Date joined: {{nav.status.dateJoined | date : shortDate}} 04/14/2015 | Last login: {{nav.status.lastLogin | date : shortDate}} 10/27/2015</span>
    </div>
  </div>
  <div class="text-left">
     <h3>Recent Topics Posted</h3>
     <ul>
        <li ng-repeat="topic in vm.topics">{{nav.status.topics}}</li>
     </ul>
  </div>
</div>
</div>
