<div layout="column" layout-padding layout-wrap layout-fill layout-align="start center" flex="100" ng-cloak>
<div  flex="50" >
         <h1>
         Please sign up.
      </h1>
   <md-content layout-padding>
      <form name="registerUser" ng-submit="nav.registerUser()">
         <md-input-container>
            <label>User Name</label>
            <input required name="username" ng-model="nav.user.username">
         </md-input-container>
         <md-input-container>
            <label>Email Address</label>
            <input required type="email" name="username" ng-model="nav.user.email">
         </md-input-container>
         <md-input-container>
            <label>Password</label>
            <input required type="password" name="userPassword" ng-model="nav.user.password" minlength="5" />
         </md-input-container>
         <md-input-container>
            <label>Confirm Password</label>
            <input required type="password" name="userPassword" ng-model="nav.user.confirmPassword" minlength="5" />
         </md-input-container>
         <div layout="column">
            <div>
               <div ng-show="!(nav.user.password === nav.user.confirmPassword)">Your passwords must match.</div>
            <md-button type="submit" ng-disabled="!nav.user.username || !nav.user.email || !nav.user.password || !(nav.user.password === nav.user.confirmPassword)">Register</md-button>
         </div>
         <div>
            <hr>
            <h6>Already joined our community?</h6>
            <md-button type="button" ui-sref="Login">Login</md-button>
         </div>
         </div>
      </form>
   </md-content>
</div>
</div>
