<div ng-controller='AddTopicController as vm' class="container">
  <br>
  <h1 style="color: #333;">{{ vm.subForum }}</h1>
  <hr>
    <div>
      <button type="button" class="btn btn-info" ui-sref="CreateTopic">Create New Topic</button>
      <button type="button" class="btn btn-danger" ui-sref="Home">Go Back</button>
    </div>
    <hr>
    <div style="position: relative;" ng-repeat='z in vm.Topics'>
      <div class="row section" ng-click="vm.setCurrentTopic(z);" ui-sref="Topic" >
        <div>
          <h3>{{z.title}}</h3>
          <h5>{{z.author}}</h5>
        </div>
      </div>
      <div class="deleteButton" ng-if="nav.status.username === z.author" ng-click="vm.deleteTopic(z);"></div>
    </div>

</div>
